.padre__contacto{
    background: #daf6ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('/img/mar.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.contacto__title{
display: flex;
flex-direction: row-reverse;
justify-content: center;
align-items: center;
width: 100%;
z-index: 1;
}
.title{
    font-size: 30px;
    text-shadow: 2px 2px 13px gray;
}
.contacto__home{
width: 50px;
object-fit: cover;
}
/* ********************sol************* */
.contenedor__sol{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 150px;
}
.sol{
    background: rgb(255, 255, 0);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    z-index: 0;
    margin-top: -90px;
    --animate-duration:3s;
    filter: drop-shadow(2px 2px 12px gray);
}
.nube{
    width: 200px;
    height: 100px;
    position: absolute;
    z-index: 1;
    --animate-duration:3.5s;

}
/* *******************Barco**************** */
.contacto__icon-barco{
 width: 100%;
 height: 350px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.barco{
    width: 400px;
    height: 400px;
   margin-top: -500px;
   position: relative;
   z-index: 0;
   --animate-duration:4s;
}
.icon{
    display: flex;
    justify-content: space-between;
position: absolute;
z-index: 2;
margin-top: -500px;
width: 200px;
--animate-duration:4.5s;
}
.icon > i{
    font-size: 35px;
}
.bx-mail-send{
    color: rgba(87, 87, 3, 0.645);
    --animate-duration:2.5s;
}
.bxl-whatsapp-square{
    color: green;
    --animate-duration:3s;
}
.bxl-github{
    --animate-duration:3.5s;
}