.padre__contacto{
    background: #daf6ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-image: url('/img/mar.gif');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    z-index: po
}
.contacto__title{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(130, 140, 197), rgb(255, 255, 255), rgb(153, 155, 157), rgb(133, 133, 181), indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    z-index: 2;
    text-align: center;
    margin-top: -165px;
    position: relative;
    text-shadow: 2px 3px 3px gray;
}
.contacto__home{
    font-size: 35px;
    position: absolute;
    text-shadow: 2px 2px 8px rgb(88, 255, 5);
    margin-left: -25%;
    margin-top: -3%;
    color: white;
}
.contacto__home:hover{
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.819);
}

/* ***************sol*************** */
.contacto__contenedor-cards{
margin-top: -250px; 
width: 200px;
height: 200px;
border-radius: 50%;
display: flex;
background-color: rgba(242, 255, 3, 0.918);
gap: 0.5rem;
z-index: 0;
--animate-duration:3s;
margin-left: 70%;
filter: drop-shadow(2px 2px 15px rgb(86, 86, 48));
}
.contacto-nube{
    margin-top: 58px;
    --animate-duration:3.5s;
}



/************************** mar****************************** */
.contacto__svg{
    z-index: 0;
}
/* **************************barco******************** */
.tarjeta{
    background-image: url('/img/barco.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:500px ;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    --animate-duration:4.5s;
}
.tarjeta >i{
    font-size: 30px;
}
.bx-mail-send{
    color: rgba(105, 105, 11, 0.882);
    --animate-duration:3s;
}
.bxl-github{
    --animate-duration:3.4s;
}
.bxl-whatsapp-square{
    color: green;
    --animate-duration:3.7s;
}